* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #141C2F;
}

img {
    max-width: 90%;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

main form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-direction: column;
    gap: 1rem;
}

main .ilustration {
    margin-top: 20px;
    height: 30rem;
}

main #title {
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

main #user-input {
    font-size: 2rem;
    height: 4.5rem;
    border: none;
    width: 95%;
    padding: 25px 25px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
}

main #btn-buscar {
    font-size: 2.5rem;
    height: 4.5rem;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    align-items: center;
    color: #fff;
    background: rgb(46, 194, 41);
}

main #usuarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: auto;
    gap: 2.5rem;
    border-radius: 5px;
    background: #212e4b;
    padding: 20px 30px;
    margin: 20px 0 30px 0;
    overflow: hidden;
    display: none;
}

main #usuarios header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
}

#usuarios header .content-account {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
}

#img-user {
    border-radius: 50%;
    height: 150px;
    width: 170px;
}

.content-account .name {
    font-size: 23px;
}

.content-account .username {
    color: #1fa190;
    font-size: 19px;
    text-align: center;
}

.content-account .bio {
    color: #ccc;
    font-size: 1.4rem;
    text-align: center;
}

#usuarios .info-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 40px;
    width: 100%;
    background: #141C2F;
}

.info-account 
.content-repos,
.content-followers,
.content-following {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.info-account h2,
.info-account p {
    font-size: 2.2rem;
    text-align: center;
}

#usuarios .content-links {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 80% 80%;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 400px;
}

.content-links .links {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

.links .url {
    color: #1fa190;
    border-bottom: 1px solid #1fa190;
    padding: 2px;
}

.infos-style:not(.username) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 530px) {

    #usuarios header {
        display: flex;
        flex-direction: column;
    }

    main #usuarios header .name{
        font-size: 30px;
        text-align: center;
    }

    #usuarios header .username {
        font-size: 25px;
    }

    main #usuarios .info-account {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 2rem;
    }

    main #usuarios .info-account p,
    .info-account h2 {
        font-size: 25px;
    }

    main #usuarios .content-links {
        display: grid;
        max-width: 200px;
    }

}